<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>{{ page.title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/img/favicon.ico">

	<link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="stylesheet" href="/css/font/stylesheet.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/prettify.css" type="text/css" media="screen, projection" />

   <link href="http://anthonyvscode.com/atom.xml" rel="alternate" title="anthonyvscode" type="application/atom+xml" />

	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

	<script src="/js/prettify.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-9813084-15']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body onload="prettyPrint()">
	<div id="header-wrap">
		<header>
			<hgroup>
				<h1>
					<a href="/" title="anthonyvscode" rel="home">Anthony Vs Code</a>
				</h1>
			</hgroup>
		</header>

		<div id="secondary" class="widget-area">
			<aside id="me" class="widget">
				<div class="info">
					<img class="grav" src='http://www.gravatar.com/avatar/89ec1ce4d9e7f5aa1ee4b122afac4d33' alt="Anthony Zigenbine" />
				    <div class="short-info">
					   <strong>Anthony Zigenbine</strong>
                       <p id="site-description">Web Developer + Co-Founder of <a href="http://tboda.com">TBODA</a>.</p>
				    </div>
                </div>

				<ul>
					<li> <a href='https://github.com/anthonyvscode'>GitHub</a></li>
					<li>
						<a href="http://feeds.feedburner.com/anthonyvscode">
							<img src='/img/feed-icon.png' alt="Subscribe to Feed" />
							Subscribe
						</a>
					</li>

					<li id="twitter-button"><a href="http://twitter.com/anthonyvsccode" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF">Follow @anthonyvscode</a></li>
					<li id="twitter-text"><a href="http://twitter.com/anthonyvscode" >@anthonyvscode</a></li>
				</ul>
				<a class="stackoverflow" href="http://stackoverflow.com/users/79254/anthonyvscode">
					<img src="http://stackoverflow.com/users/flair/79254.png" width="208" height="58" alt="profile for anthonyvscode at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for anthonyvscode at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
				</a>				
			</aside>
		</div>
	</div>

	<div id="primary">
		<div id="content">
			{{ content }}
		</div>

		<footer>
			<small>powered by <a href="https://github.com/code52/pretzel">pretzel</a> / <a href="https://github.com/mojombo/jekyll">jekyll</a> and living on <a href="https://github.com">github</a></small>
		</footer>
	</div>

</body>
</html>
